<% layout('../layouts/boileradmin')%>

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="">
            <div class="card shadow">
                <div class="card-body">
                    <h3 class="card-title">Tabela de Alunos</h3>
                    <br><br>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nome</th>
                                    <th>Email</th>
                                    <th>Contacto</th>
                                    <th>Data de Nascimento</th>
                                    <th>Nota</th>
                                    <th>Curso</th>
                                    <th>Tipo Concurso</th>
                                    <th>Cartão de Cidadão</th>
            
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>    
                                <% concorrers.forEach(concorrers => { %>
                                    <tr>
                                    <th><%= concorrers.id %></th>
                                    <th><%= concorrers.name %></th>
                                    <th><%= concorrers.email %></th>
                                    <th><%= concorrers.contacto %></th>
                                    <th><%= concorrers.dateOfBirth %></th>
                                    <th><%= concorrers.nota %></th>
                                    <th><%= concorrers.curso %></th>
                                    <th><%= concorrers.concurso %></th>
                                    <td class="img-responsive"><img height="100px" src="/uploads/<%= concorrers.file %>"></td>
                                    
                                    <th>
                                        <form method="POST" action="/concorrers/delete">
                                            <input type="hidden" name="id" value="<%= concorrers._id %>">
                                            <button class="btn btn-danger">Apagar</button> 
                                        </form>
                                    </th>
                                </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    
                    </div>
                    
                        



            
                        
                        <br><br>
                   
                    <br>
                    <br><br>

                    
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>