<% layout('../layouts/boileradmin')%>

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="https://images.unsplash.com/photo-1571863533956-01c88e79957e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80"
                    alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Titulares de diploma de técnico superior profissional</h5>
                        <div>
                            <table class="table">
                                <tr>
                                    <th>Nome</th>
                                    <th>Email</th>
                                    <th>Contacto</th>
                                    <th>Data de Nascimento</th>
                                    <th>Curso Superior</th>
                                    <th>Nota</th>
                                    <th>Curso Pretendido</th>
                                </tr>
                                <% for(var i=0; i<alunostsp.length; i++) {%>
                                    <tr>
                                        <td><%= alunostsp[i].name %></td>
                                        <td><%= alunostsp[i].email %></td>
                                        <td><%= alunostsp[i].contacto %></td>
                                        <td><%= alunostsp[i].dateOfBirth %></td>
                                        <td><%= alunostsp[i].cursoSuperior %></td>
                                        <td><%= alunostsp[i].notaFinal %></td>
                                        <td><%= alunostsp[i].curso %></td>
                                    </tr>
                                <% } %>
                            </table>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>