<% layout('../layouts/boileradmin')%>

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="">
            <div class="card shadow">
                <div class="card-body">
                    <h3 class="card-title">Tabela de Alunos</h3>
                    <br><br>
                    <div class="card-body">
                        
                    <div id="relatorio">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Email</th>
                                    <th>Contacto</th>
                                    <th>Data de Nascimento</th>
                                    <th>Nota</th>
                                    <th>Curso</th>
                                    <th>Tipo Concurso</th>
                                    <th>Cartão de Cidadão</th>
                                    <th>Certificado de Habilitações</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>    
                                <% concorrers.forEach(concorrers => { %>
                                    <tr>
                                    <th hidden><%= concorrers.id %></th>
                                    <th><%= concorrers.name %></th>
                                    <th><%= concorrers.email %></th>
                                    <th><%= concorrers.contacto %></th>
                                    <th><%= concorrers.dateOfBirth %></th>
                                    <th><%= concorrers.nota %></th>
                                    <th><%= concorrers.curso %></th>
                                    <th><%= concorrers.concurso %></th>
                                    <td class="img-responsive"><img height="100px" src="/images/<%= concorrers.file %>"></td>
                                    <td class="img-responsive"><img height="100px" src="/images/<%= concorrers.certificado %>"></td>
                                    <th>
                                        <form method="POST" action="/concorrers/delete">
                                            <input type="hidden" name="id" value="<%= concorrers._id %>">
                                            <button class="btn btn-danger">Apagar</button> 
                                        </form>
                                    </th>
                                </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>

                </div>
                <ul>
                    <% curso.forEach(curso => {%>
                        <li><a href="/showalunos?curso=<%= curso.name %>"><option><%= curso.name %></option></a></li>
                    <% }) %>
                </ul>
            </div>
            
            <div class="mb-3">
                
        
                <button type="submit">
                    <select name="curso" id="curso">
                        <% curso.forEach(function(curso){ %>
                            <option value="<%= curso.name %>"><%= curso.name %> </option>
                        <% }) %>
                    </select>
                    <select name="concurso">
                        <% concurso.forEach(function(concurso){ %>
                            <option id="concurso" value="<%= concurso.name %>"><%= concurso.name %></option>
                        <% }) %>
                        
                    </select>
                    <a href="/showalunos?curso=<%= curso.name %>&concurso=<%= concurso.name %>">Procurar</a></button>
           
            </div>

            <a href="/pdf">Gerar PDF</a>
                        

                    
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

